<!DOCTYPE html>
<html lang="en">
  <head >
   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="/static/js/script.js"></script>
      
    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <!-- Latest compiled and miniAfied JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      
      
      <link rel="stylesheet" type="text\css">
      <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
      
      <style>
        h1 {
            font-family: 'Baloo Bhaina', cursive;
        }
      </style>
    </head>
    
  <body>

     <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Data Rep</a>
            </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Settings</a></li> 
        </ul>
        </div>
      </nav>
      
      <div class="container">
      <div style="background: rgba(60, 255, 60, 0.2);" class="jumbotron">
        <h1>Meal Manager</h1>
        <p class="lead">A simple recipe app that provides ingerdiants fast.</p>
      </div>
          
       <table id="location" class="table table-striped">
        <tr>
            <th>Step</th>
            <th><span class="glyphicon glyphicon-cutlery"></span>  Ingredients</th>
        </tr>
       </table>

      

    </div> <!-- /container -->
  </body>
 
</html>