<!DOCTYPE html>
<html lang="en">
  <head >
   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js" ></script>
      
    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" >

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.css">

      <!-- Latest compiled and miniAfied JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js" ></script>
      
      
      <link rel="stylesheet" type="text\css">
      <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
      
      <style>
        h1 {
            font-family: 'Baloo Bhaina', cursive;
        }
        h4 {
            font-family: 'Baloo Bhaina', cursive;
        }
        h2 {
            font-family: 'Cabin Sketch', cursive;
            text-align: center;
            font-size: 300%;
        }
         
          
      </style>
    </head>
    
  <body>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Data Rep</a>
            </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="SaveFile.html">My Recipes</a></li>
            <li><a href="#">Settings</a></li> 
        </ul>
        </div>
      </nav>
      
      <div class="container">
      <div style="background: rgba(60, 255, 60, 0.2);" class="jumbotron">
        <h1>Meal Manager</h1>
        <p class="lead">Enter a meal you would like to search for!.</p>
          <div class="input-group">
            <input type="text" value="chicken" id="sbar" class="form-control" aria-label="...">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" id="button" title="Search Database">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn" title="Sort by trending" >
                        <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
                    </button>
                </div>
        </div>
          
      
          
       
          
  
      
</div>  <!--Jumbotron end -->
          
          <div style="background: url('/static/img/jumbobg.jpg');" class="jumbotron">
              <h2>Ingredients List</h2>
          <table id="location" class="table table-striped">
        <tr>
            <th>Meal</th>
            <th>Step</th>
            <th><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></th>
            
        </tr>
       </table>
          </div>
      
 <div class="media" >
  <div class="media-left" id="imgStore"> <!-- media 1 -->
    
  </div>
  <div class="media-body" id="details">
    
  </div>
</div>
          
    <div class="media" >
  <div class="media-left" id="imgStore2"> <!-- media 2 -->
    
  </div>
  <div class="media-body" id="details2">
    
  </div>
</div>
          
          <div class="media" >
  <div class="media-left" id="imgStore3"> <!-- media 3 -->
    
  </div>
  <div class="media-body" id="details3">
    
  </div>
</div>
          
    <div class="media" >
  <div class="media-left" id="imgStore4"> <!-- media 4 -->
    
  </div>
  <div class="media-body" id="details4">
    
  </div>
</div>
          
   <div class="media" >
  <div class="media-left" id="imgStore5"> <!-- media 5 -->
    
  </div>
  <div class="media-body" id="details5">
    
  </div>
</div>
    </div> <!-- /container -->
  </body>
 
</html>